// Fonts
$ff: SF Pro Display, sans-serif;

// Colors
$c-white: #FFFFFF;
$c-black: #000000;
$c-lily: #251F4D;
$c-gray: #D9D9D9;
$c-dark-gray: rgb(97, 97, 97);
$c-light-gray: #dedede;
$c-easy-gray: #d8d8d8;

// Background colors
$bg-white: #FFFFFF;
$bg-lily: #251F4D;
$bg-black: #000000;
$bg-light-gray: #e2e2e4;

// Screen sizes
$sm: 375px;
$md: 768px;
$lg: 1024px;
$xl: 1480px;
