.BooksContainer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  @media (min-width: $md) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $lg) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $xl) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
