.SearchField {
  position: relative;
  display: flex;
  flex-direction: column;

  &-label {
    font-size: 3.6rem;
    color: $c-white;
    font-weight: 700;

    @media (min-width: $md) {
      font-size: 4.6rem;
    }
  }

  &-input {
    margin-top: 30px;
    padding: 5px 10px;
    font-size: 1.6rem;

    @media (min-width: $md) {
      font-size: 2rem;
    }
  }

  &-button {
    height: 25px;
    width: 25px;
    position: absolute;
    bottom: 7px;
    right: 7px;
    border: none;
    background-color: transparent;

    @media (min-width: $md) {
      bottom: 0;
      right: 0;
      height: 35px;
      width: 35px;
    }
  }
}
